*{
    background-color : #190f2a;
    font-size: 16px;
    color : white;
}

.QPushButton{
    background-color: white;
    color: #190f2a;
    font-weight: bold;

    padding: 10;
    border-radius: 15px;
}

.QPushButton:hover{background-color: #c8c8c8;}