*{
    background-color : #190f2a; 
    color : white;
    
}

.QPushButton{
    background-color: white;
    color: #190f2a;

    font-size: 14px;
    font-weight: bold;

    padding: 15;
    padding-left: 25;
    padding-right: 25;
    border-radius: 15px;
}